<div class="card">
  <div class="card-header fw-bold">
    <div class="row">
      <div class="col-auto">Content Child</div>
      <button
        class="col col-auto btn btn-md py-0"
        (click)="handleEdit()"
        *ngIf="!edit; else EditColse">
        <fa-icon [icon]="['fas', 'pencil']" animation="shake" />
      </button>
      <ng-template #EditColse>
        <button class="col col-auto btn btn-md py-0" (click)="handleEdit()">
          <fa-icon [icon]="['fas', 'xmark']" />
        </button>
      </ng-template>
    </div>
  </div>
  <div class="card-body">
    <ng-content></ng-content>
  </div>
  <ng-container *ngIf="edit">
    <div class="card-footer">
      <div
        for="para"
        class="d-flex justify-content-between align-items-center py-2">
        <div class="fw-medium">Para</div>
        <button type="button" class="btn btn-light" (click)="handleSave()">
          <fa-icon [icon]="['fas', 'check']" size="lg" style="color: #80e04d" />
        </button>
      </div>
      <textarea
        #InputParaRef
        class="form-control"
        id="para"
        rows="2"
        [value]="paraContent"></textarea>
    </div>
  </ng-container>
</div>
