<div class="container p-5">
  <p class="h2">
    Quotes -
    <span class="fw-light">{{ quotes.length + 1 }}</span>
  </p>
  <div class="row g-4">
    <div class="col col-xs-12 col-md-6">
      <div cardLift class="card">
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p txtPri>
              Life isn't about getting and having, it's about giving and being.
            </p>
            <footer class="blockquote-footer">
              Author :
              <cite title="Kevin Kruse">Kevin Kruse</cite>
            </footer>
          </blockquote>
        </div>
      </div>
    </div>
    <ng-container *ngFor="let q of quotes">
      <div class="col col-xs-12 col-md-6">
        <div cardLift class="card">
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p txtPri>
                {{ q.quote }}
              </p>
              <footer class="blockquote-footer">
                Author :
                <cite [title]="q.author">{{ q.author }}</cite>
              </footer>
            </blockquote>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
