<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand fw-normal text-secondary" href="/"
      >Data Binding & Diractives</a
    >
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link active fw-bold text-primary"
            aria-current="page"
            routerLink="/students-report"
            >Students Report</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active fw-bold text-primary"
            aria-current="page"
            routerLink="/products"
            >Products</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            routerLink="/students-report"
            >Interpolation</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            routerLink="/students-report"
            >Event binding</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            routerLink="/students-report"
            >Two way data binding (ngModel)</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            routerLink="/students-report"
            >Custom event emmiter</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            routerLink="/students-report"
            >*ngIf</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            routerLink="/students-report"
            >*ngFor</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
<div
  [ngStyle]="{
    backgroundImage: 'url(/assets/background.jpg)',
    minHeight: '100vh'
  }"
>
  <router-outlet></router-outlet>
</div>
