<div class="container p-5">
  <div class="row">
    <div class="col-4">
      <p class="h2">
        Students Report -
        <span class="fw-light me-lg-3 me-sm-6">{{ totalStudents }}</span>
      </p>
    </div>
    <div class="col-5">
      <div class="container-fluid">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Name of student..."
          aria-label="Name"
          [value]="searchText"
          (input)="handleSearch($event)"
        />
      </div>
    </div>

    <div class="my-4 row justify-content-start">
      <div
        class="col-xs-6 col-sm-6 col-md-5 col-lg-3 mb-3"
        *ngFor="let student of studentList"
      >
        <div class="card text-bg-{{ student.color }}" style="max-width: 18rem">
          <div
            class="card-header text-uppercase d-flex justify-content-between adivgn-items-center"
          >
            <div class="ms-2 me-auto">
              <div class="fw-bold">{{ student.name }}</div>
            </div>
            <span
              class="badge rounded-pill"
              [ngClass]="{
                'text-bg-danger': student.gender == 'Female',
                'text-bg-success': student.gender == 'Male'
              }"
            >
              {{ student.gender }}</span
            >
          </div>
          <div class="card-body">
            <ol class="list-group list-group-numbered">
              <li
                class="list-group-item d-flex justify-content-between align-items-start"
              >
                <div class="ms-2 me-auto">
                  <div class="fw-semibold">Physics</div>
                </div>
                <span
                  class="fs-6 badge text-bg-{{ student.color }} rounded-pill"
                >
                  {{ student.physics }}</span
                >
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-start"
              >
                <div class="ms-2 me-auto">
                  <div class="fw-semibold">Maths</div>
                </div>
                <span
                  class="fs-6 badge text-bg-{{ student.color }} rounded-pill"
                >
                  {{ student.maths }}</span
                >
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-start"
              >
                <div class="ms-2 me-auto">
                  <div class="fw-semibold">English</div>
                </div>
                <span
                  class="fs-6 badge text-bg-{{ student.color }} rounded-pill"
                >
                  {{ student.english }}</span
                >
              </li>
            </ol>
            <div class="list-group">
              <div
                class="list-group-item mt-2 d-flex justify-content-between align-items-start"
              >
                <div class="ms-2 me-auto">
                  <div class="fw-bold">
                    Total <span class="fw-semibold">(300)</span>
                  </div>
                </div>
                <span class="fs-6 fw-bold">
                  {{ student.english + student.maths + student.physics }}</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
