<div class="container p-5 g-3">
  <div class="row justify-content-center mb-3">
    <div class="col-md-12 col-lg-8">
      <div class="card">
        <div class="card-body">
          <p class="h2 text-secondary">Students Registration</p>
          <div [ngStyle]="{ height: '1px' }" class="bg-secondary mb-3"></div>
          <form class="row g-3 needs-validation" novalidate="" #formElement>
            <div class="col-md-4">
              <label for="validationCustom01" class="form-label"
                >First name</label
              >
              <input
                #registrationInputs
                type="text"
                class="form-control"
                id="validationCustom01"
                name="firstName"
                required="" />
              <div class="valid-feedback">Looks good!</div>
              <div class="invalid-feedback">Please provide a first name.</div>
            </div>
            <div class="col-md-4">
              <label for="validationCustom02" class="form-label"
                >Last name</label
              >
              <input
                #registrationInputs
                type="text"
                class="form-control"
                id="validationCustom02"
                name="lastName"
                required="" />
              <div class="valid-feedback">Looks good!</div>
              <div class="invalid-feedback">Please provide a first name.</div>
            </div>
            <div class="col-md-4">
              <label for="validationCustomUsername" class="form-label"
                >Username</label
              >
              <div class="input-group has-validation">
                <span class="input-group-text" id="inputGroupPrepend">@</span>
                <input
                  #registrationInputs
                  type="text"
                  class="form-control"
                  id="validationCustomUsername"
                  aria-describedby="inputGroupPrepend"
                  name="email"
                  required="" />
                <div class="valid-feedback">Looks good!</div>
                <div class="invalid-feedback">Please choose a username.</div>
              </div>
            </div>
            <div class="col-md-6">
              <label for="validationCustom03" class="form-label">City</label>
              <input
                #registrationInputs
                type="text"
                class="form-control"
                id="validationCustom03"
                name="city"
                required="" />
              <div class="valid-feedback">Looks good!</div>
              <div class="invalid-feedback">Please provide a valid city.</div>
            </div>
            <div class="col-md-3">
              <label for="validationCustom04" class="form-label">State</label>
              <select
                #registrationInputs
                class="form-select"
                id="validationCustom04"
                name="state"
                required="">
                <option selected value="Uttrakhand">Uttrakhand</option>
                <option value="Delhi">Delhi</option>
              </select>
              <div class="valid-feedback">Looks good!</div>
              <div class="invalid-feedback">Please select a valid state.</div>
            </div>
            <div class="col-md-3">
              <label for="validationCustom05" class="form-label">Zip</label>
              <input
                #registrationInputs
                type="text"
                class="form-control"
                id="validationCustom05"
                name="zip"
                required="" />
              <div class="valid-feedback">Looks good!</div>
              <div class="invalid-feedback">Please provide a valid zip.</div>
            </div>
            <div class="col-12">
              <div class="form-check">
                <input
                  #registrationInputs
                  class="form-check-input"
                  type="checkbox"
                  checked
                  id="invalidCheck"
                  name="agree"
                  required="" />
                <label class="form-check-label" for="invalidCheck">
                  Agree to terms and conditions
                </label>
                <div class="valid-feedback">Looks good!</div>

                <div class="invalid-feedback">
                  You must agree before submitting.
                </div>
              </div>
            </div>
            <div class="col-12">
              <button class="btn btn-primary" (click)="addStudentToList()">
                Submit form
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div
      class="col-lg-6 col-md-12 g-4"
      *ngFor="let stu of studentList; let i = index">
      <div class="card">
        <div class="card-body">
          <dl class="row">
            <dt class="col-sm-3">Name</dt>
            <dd class="col-sm-9">{{ stu.firstName + ' ' + stu.lastName }}</dd>

            <dt class="col-sm-3">Username</dt>
            <dd class="col-sm-9">
              <p>{{ stu.email }}</p>
            </dd>

            <dt class="col-sm-3">City</dt>
            <dd class="col-sm-9">
              {{ stu.city }}
            </dd>

            <dt class="col-sm-3 text-truncate">State</dt>
            <dd class="col-sm-9">
              {{ stu.state }}
            </dd>
            <dt class="col-sm-3 text-truncate">Zip code</dt>
            <dd class="col-sm-9">
              {{ stu.zip }}
            </dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
</div>
