<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand fw-normal text-secondary" href="/"
      >Data Binding & Diractives</a
    >
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link active fw-bold text-primary"
            aria-current="page"
            routerLink="/"
            >Students</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active fw-bold text-primary"
            aria-current="page"
            routerLink="/products"
            >Products</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active fw-bold text-primary"
            aria-current="page"
            routerLink="/registration"
            >Registration</a
          >
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link btn-secondary dropdown-toggle fw-bold"
            type="button"
            id="dropdownMenuButton"
            data-bs-toggle="dropdown"
            aria-expanded="false">
            Implementations
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" aria-current="page" routerLink="/"
              >Event binding</a
            >
            <a class="dropdown-item" aria-current="page" routerLink="/"
              >Two way data binding (ngModel)</a
            >
            <a class="dropdown-item" aria-current="page" routerLink="/"
              >Custom event emmiter</a
            >
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" aria-current="page" routerLink="/"
              >*ngIf</a
            >
            <a class="dropdown-item" aria-current="page" routerLink="/"
              >*ngFor</a
            >
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" aria-current="page" routerLink="/products"
              >Refereance variable</a
            >
            <a class="dropdown-item" aria-current="page" routerLink="/products"
              >@viewChild Refereance Element</a
            >
            <a class="dropdown-item" aria-current="page" routerLink="/products"
              >@viewChild Refereance Component(todo)</a
            >
            <a
              class="dropdown-item"
              aria-current="page"
              routerLink="/registration"
              >@viewChildren Elements Refereance</a
            >
            <a
              class="dropdown-item"
              aria-current="page"
              routerLink="/registration">
              ng-template with *ngTemplateOutlet</a
            >
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div
  [ngStyle]="{
    backgroundImage: 'url(/assets/background.jpg)',
    minHeight: '100vh'
  }">
  <router-outlet></router-outlet>
</div>
